<%= render "shared/second-header"%>

  <div class='item-contents'>
    <div class="subtitle" >
      <%=@nickname%>の商品一覧
    </div>
    
    <div id="star-rate<%= @comment.id %>"><h2 class="rank">総合評価（<%= @user.comments.average(:rate).to_f.round(1) %>点）</h2></div>  
      <script>
        $('#star-rate<%= @comment.id%>').raty({
         size      : 36,
         starOff   : '<%= asset_path('star-off.png') %>',
         starOn    : '<%= asset_path('star-on.png') %>',
         starHalf: '<%= asset_path('star-half.png') %>',
         half: true,
         readOnly: true, 
         score: <%= @user.comments.average(:rate).to_f.round(1) %>,
        });
      </script>

    <ul class='item-lists'>

      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id),method: :get do %>
        <div class='item-img-content' >
          <%= image_tag item.image, class: "item-img" if item.image.attached?%>

          <% if item.purchaser != nil %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.product_name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.charge.name %></span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>

      <% if @items.blank? %>
      <li class='list'>
        <%= image_tag "circle-9.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            出品商品はありません。
          </h3>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

<%= render "shared/second-footer"%>